/* font-family: 'Bungee Outline', cursive; */
/* font-family: 'Quicksand', sans-serif; */



/* BODY */

body{
    margin: 0px;
    padding: 0px;
    display: grid;
    grid-template-rows: auto 1fr auto;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(0,117,255,1) 100%);
    background-size: cover;
}

/* HEADER */

.headerimg{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.listanav{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
}

.navitem{
    padding-inline: 2rem;
}

.navitem a{
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    color: black;
    font-size: 1.5rem;
    color: white;
}

/* MAIN */

main{
    height: 80vh;
}

.titularmain{
    display: flex;
    justify-content: center;
    margin-top: 9rem;
    font-family: 'Quicksand', sans-serif;
    font-size: 2rem;
    color: white;
}

.parrafomain{
    display: flex;
    justify-content: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.8rem;
    color: white;
}


/* FOOTER */

footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.copy-footer{
    color:rgb(0, 117, 255);
    font-family: 'Quicksand', sans-serif;
    font-size: 1.3rem;
}

.listafooter{
    display: flex;
    justify-content: center;
    list-style: none;
}

.item-lista-footer{
    padding-inline: 2rem;
}

.item-lista-footer a{
    color:rgb(0, 117, 255);
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 500;
}